<?xml version="1.0" encoding="UTF-8"?>

<!-- Keep this file named "logback-builtin.xml" and do not rename it to "logback.xml"! -->
<configuration debug="false">

    <!-- =========================================================================================================== -->
    <!--  Ensures that logger levels in Logback are applied to logger levels in JUL (java.util.logging)              -->
    <!--  This allows us to include the 'jul-over-slf4j' brdige without severe performance penalty.                  -->
    <!-- =========================================================================================================== -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- =========================================================================================================== -->
    <!--  A filter which always accepts ALL logging events if the current thread is a Mosaic job thread.             -->
    <!--  This allows us the job log to have ALL logging events (DEBUG/TRACE included) regardless of logging levels. -->
    <!-- =========================================================================================================== -->
    <turboFilter class="ch.qos.logback.classic.turbo.MDCFilter">
        <MDCKey>appender</MDCKey>
        <Value>jobs</Value>
        <OnMatch>ACCEPT</OnMatch>
    </turboFilter>

    <!-- =========================================================================================================== -->
    <!--  console: this appender logs everything to the standard output stream of the process (stdout)               -->
    <!-- =========================================================================================================== -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{HH:mm:ss.SSS} [%-10.10thread] [%-5level] %-40.40logger{40} » %message%n%ex{full}</pattern>
        </encoder>
    </appender>

    <!-- =========================================================================================================== -->
    <!--  global.log: this log file is used for generic server events such as startup, shutdown, etc.                -->
    <!-- =========================================================================================================== -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${mosaic.home.logs}/global.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${mosaic.home.logs}/archives/global-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{dd/MM/yyyy HH:mm:ss.SSS XXX} [%-10.10thread] [%-5level] %-40.40logger{40} » %message%n%ex{full}</pattern>
        </encoder>
    </appender>

    <!-- =========================================================================================================== -->
    <!--  jobs: logs output to a file specific to the currently executing job execution.                             -->
    <!-- =========================================================================================================== -->
    <appender name="jobs" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="org.mosaic.launcher.logging.JobMDCDiscriminator"/>
        <sift>
            <appender name="${jobId}-${jobExecutionId}-job" class="ch.qos.logback.core.FileAppender">
                <!-- the ${jobId} will actually be "jobType/jobExecutionId" thanks to the JobMDCDiscriminator above -->
                <file>${mosaic.home.work}/jobs/${jobId}/output.log</file>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>%date{dd/MM/yyyy HH:mm:ss.SSS XXX} [%-5level] %-40.40logger{40} » %message%n%ex{full}</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!-- =========================================================================================================== -->
    <!--  request: logs output to a file specific to the web application the current request serves.                 -->
    <!-- =========================================================================================================== -->
    <appender name="request" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="ch.qos.logback.classic.sift.MDCBasedDiscriminator">
            <key>web.app</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="${web.app}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${mosaic.home.logs}/${web.app}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${mosaic.home.logs}/archives/${web.app}-%d{yyyy-MM-dd}.log</fileNamePattern>
                </rollingPolicy>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>%date{dd/MM/yyyy HH:mm:ss.SSS XXX} | %-10.10thread | %-5level | %-30.30mdc{user} | %16.16mdc{req.ip} | %6.6mdc{req.method} | %-60.60mdc{req.path} | %-40.40logger{40} » %message%n%ex{full}</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!-- =========================================================================================================== -->
    <!--  system appender: this appender is actually a dispatcher to one of the other appenders, based on MDC,       -->
    <!--                   markers, the 'dev' system property, or the 'mosaic.logging.output' system property.       -->
    <!-- =========================================================================================================== -->
    <appender name="global" class="org.mosaic.launcher.logging.GlobalDispatchingAppender"/>

    <!-- =========================================================================================================== -->
    <!--  Logger configurations                                                                                      -->
    <!-- =========================================================================================================== -->

    <!-- the ROOT logger redirects all output to the global dispatcher appender -->
    <root level="INFO">
        <appender-ref ref="global"/>
    </root>

    <!-- reduce verbosity of ssh sessions -->
    <logger name="org.mosaic.shell.impl.session.MosaicServerSession" level="WARN"/>
    <logger name="org.mosaic.lifecycle.impl.ModuleApplicationContext" level="WARN"/>

    <!-- disable internal 3rd-party logging statements, they're not interesting -->
    <logger name="com.google.common.io.Closeables" level="OFF"/>
    <logger name="freemarker.runtime" level="OFF"/>
    <logger name="net.schmizz.sshj" level="WARN"/>
    <logger name="org.apache.sshd" level="WARN"/>
    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.mortbay" level="WARN"/>
    <logger name="org.osgi" level="OFF"/>
    <logger name="org.quartz" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>

</configuration>
