# IDEA files
.idea
out
*.iml
*/*.iml
atlassian-ide-plugin.xml

# Maven temporary files
pom.xml.releaseBackup
*/pom.xml.releaseBackup
release.properties
*/release.properties
target
*/target

# Temp files
**/felix-cache
**/abrt_checker*
