# IDEA files
.idea
out
*.iml
*/*.iml
atlassian-ide-plugin.xml

# Maven temporary files
pom.xml.releaseBackup
*/pom.xml.releaseBackup
release.properties
*/release.properties
target
*/target

# Run directory
run/etc/ssh/history/*
run/lib/*.jar
run/logs
run/work

# Temp files
**/felix-cache
**/abrt_checker*
