<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="5 seconds" debug="false">

    <!-- =========================================================================================================== -->
    <!--  Console appender - logs everything to the console                                                          -->
    <!-- =========================================================================================================== -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{HH:mm:ss.SSS} | %-5level | %-40.40logger{40} | %message%n%ex{full}</pattern>
        </encoder>
    </appender>

    <!-- =========================================================================================================== -->
    <!--  Framework events appender - logs OSGi framework events                                                     -->
    <!-- =========================================================================================================== -->
    <appender name="framework" class="ch.qos.logback.core.FileAppender">
        <append>false</append>
        <file>${mosaic.home}/logs/framework.log</file>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{HH:mm:ss.SSS} | %-5level | %-30.30logger{30} | %message%n%ex{full}</pattern>
        </encoder>
    </appender>

    <!-- =========================================================================================================== -->
    <!--  Loggers configuration                                                                                      -->
    <!-- =========================================================================================================== -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.mosaic.server.boot.impl.publish.spring.BundleApplicationContext" level="WARN"/>
    <logger name="org.apache.felix" additivity="false">
        <appender-ref ref="framework"/>
    </logger>
    <logger name="org.mosaic.osgi.bundles" additivity="false">
        <appender-ref ref="framework"/>
    </logger>

    <!-- =========================================================================================================== -->
    <!--  Root logger configuration - applies to all non-configured loggers                                          -->
    <!-- =========================================================================================================== -->
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>


</configuration>
